@import "@siimple/css/scss/variables.scss";
@import "@siimple/css/scss/brand.scss";

@import "./navigation.scss";
@import "./snippet.scss";

//Documentation styles
.siimple__content {
    padding-top: 30px;
    padding-bottom: 40px;
}
.siimple__title {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: siimple-default-color("dark");
    margin-bottom: 5px;
}
.siimple__description {
    display: block;
    font-size: 18px;
    color: siimple-default-color("dark", "light");
    margin-bottom: 25px;
}
.siimple__changes {
    display: block;
    color: siimple-default-color("dark", "light");
    font-size: 13px;
    line-height: $siimple-default-line-height;
    margin-top: 25px;
}


